*{
    padding: 0;
    margin: 0;
    font-family:  'Bai Jamjuree', sans-serif;
    
}
p {
    
    font-weight: 400;
    line-height: 1.4;
    padding: 0 0 0px;

    
}
.Main-Header{
     
    padding: 0 0 0 0;
    z-index: 99;
    width: 100%;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #1a1a1a;
    top: 0;
}
.top-bar{
    padding: 10px 0%;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #cbd6e2;
    z-index: 99;
}
marquee {
    color: white;
}


ul.Topbar-Menu li{
    
    display: inline-block;
    padding: 0 12px;
    text-align: center;
    text-transform: capitalize;
    position: relative;
   
}
ul.Topbar-Menu li a{
    text-decoration: none;
   color: white;
}
.NavBar-Header{
    background-color: #1a1a1a;
   
    width: 100%;  
    padding: 10px 0;
}
.imglogo{
    width: 88%;
}
.NavBar-ul > li{
    display: inline;
    padding: 0px 20px;
    list-style: none;
}
.NavBar-ul > li > a{
   color:white;
   text-decoration: none;
   font-size: 14px;
   font-weight: 600;
}
.NavBar-Wrap{
    float: right;
    margin-right:20px;
    margin-top: 20px;
}
a.StartChatButton {
    border-radius: 10px;
    padding: 14px 20px;
    background-color: #c51230;
    color: white;
}
.HomePage-Banner {
    height: 100vh ;
    background-size: cover;
    background-repeat: none;
}
.HomePage-Banner-Content > h1 {
    font-size: 56px;
    font-weight: 600;
    color: white;
    position: relative;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 65%;
    letter-spacing: -1px
}
.HomePage-Banner-Content > p{
    color: #fff;
    font-size: 20px;
    padding-bottom: 40px;
    width: 60%;
}
.Homapage-Carousel {
    padding: 30px 0px;
}

.new-seciont-home{
     display: inline-block;
    padding: 30px 0;
    background:  #fff;
   
    width: 100%;
}
.Home-carousel-con{
    width: 100% !important;
    max-width: 60% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.heading-content-client > h3{
    color: #1a1a1a;
    font-size: 16px;
    padding-bottom: 0;
    padding: 20px 0;
}
.client-logo{
    width:130px;
}
.client-logo:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.client-div:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.HomeDetailSection{
    background:#1a1a1a;
    padding:90px 0px;
}
.HomeDetailSectionHeading{
        line-height: 1;
    font-size:  47px;
    margin-bottom: 0;
    padding-bottom: 30px;
    color: #c51230;
}
.HomeDetailSecCol{
    text-align: center;
}
.HomeDetailSectionContainer{
    max-width: 50%  !important;
}
.COl-1 > p {
        
    font-weight: 400;
    line-height: 1.4;
    padding: 0 0 0px;
    margin: 0px;
    color: #fff;
    font-size: 17px;
}
button.slick-arrow.slick-next:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #c51230;
    font-size: 50px;
}
button.slick-arrow.slick-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    color: #c51230;
    font-size: 50px;
}
#root > div > section.new-seciont-home > div > div > div:nth-child(2) > div > button.slick-arrow.slick-prev {
    DISPLAY: NONE !important;
}
#root > div > section.new-seciont-home > div > div > div:nth-child(2) > div > button.slick-arrow.slick-next {
    DISPLAY: NONE !important;
}
.h4c{
    font-size: 16px;
    color:#fff;
    text-align: center;
    margin-top: 20px;
    line-height: 1.4;
    padding-bottom: 0;
    letter-spacing: 0.5px;
}
.slick-slide img {
   
    margin: 0 auto !important;
}
.coro-slider-container{
    margin-top: 30px;
}